/* CSS para este sitio */


* {
	font-family: Helvetica, Arial;
	letter-spacing: normal;
}
.form-control {
	border: 1px solid #dddddd; 


}
textarea{
	resize: none ;
}

input[type=file]{

	border: 0px;
	background-color: transparent;
	padding: 0px;
}

.container{
	padding-bottom: 25px;
}

.table thead tr{
	background-color: #dddddd;
}

.table thead tr th{
	font-weight: bold;
	color:#000;
}

header .row h3{
	color: #C21A01;
}

.panel-title small{
	color: #C21A01;
}

.form-group{
	margin-bottom: 5px;
}

.form-group-sm .control-label{
	font-size: 13px;
}

.form-group-sm .form-control-static{
	padding-left: 0px;
}

.control-label{
	padding-right: 0px;
}


.panel-default > .panel-heading.panel-gray{
	border: 1px solid #F1F2F7;
	background-color: #f8f8f8;
	padding: 10px 15px
}
.panel-heading h4.panel-title{
	color: #C21A01;
	font-size: 17px;
}

blockquote{
	font-size: 15px;
	margin-bottom: 15px;
	padding: 10px;
}

blockquote p{
	line-height: 20px;
}

.navbar-collapse li a{
	background-color: #FFF;
}

.navbar-collapse li a:hover{
	color: #FFF;
	background-color: #C21A01;
}

.alert{
	margin: 10px 0px 20px 0px; 
}


/* Mod{ ificar modals */
/*
.modal-header{
	background-color: #000;
	color: #FFF;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #ff0;
}
.modal-body{
	background-color: #CCC;
}

.modal-footer{
	background-color: #CCC;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #999;
}
*/

.panel-title small{
	color:#1B1D24;
}

.disabled{
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
    cursor: not-allowed;
}